section{
	display: flex;
    background-color: white;
    height: 65px;
    border-radius: 20px;
}
button{
    display: flex;
    flex-direction: column;
    width: 3rem;
    height: 3rem;
    border: 0px;
    background: transparent;
    gap: .55rem;
    justify-content: end;
    padding-left: 5px;
    padding-right: 5px;
}
button > div {
    background: black;
    height: 1px;
    width: 100%;
    border-radius: 5px;
    transition: all .5s;
    transform-origin: left;
}
button:hover div:first-child{
    transform: rotate(45deg);
}
button:hover div:nth-child(2){
    opacity: 0;
}
button:hover div:last-child{
    transform: rotate(-45deg);
}
.Resultado-fecha{
    font-size: xx-small;
    padding: 13px;
    color: #524c4c;
    background-color: #ece9e9;
    margin: 0;
    border: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-left: 1px solid #a5a6a7;
    padding-left: 5px;
    padding-right: 5px;
}
.VistaPreviaResultadoMaster, .VistaPreviaResultadoMaxi{
    font-size: xx-small;
    padding: 13px;
    background-color: #ece9e9;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #524c4c;
    border-left: 1px solid #a5a6a7;	
}
#Resultado-fechaMaxi{
    padding-left: 7px;
    padding-right: 7px;
}

.Resultado1interno, .Resultado2interno, .Resultado3interno, .Resultado4interno{
	padding-left:15px;
	font-size: 12px;
	text-align:center;
}
.Resultado1Master, .Resultado2Master, .Resultado3Master, .Resultado4Master, .Resultado1Maxi{
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: small;
	border-left: 1px solid #a5a6a7;
	padding-right: 15px;
}
.DivisionE1Master, .DivisionE1Maxi{
    display: flex;
	padding-left: 7px;
}
.DivisionE2Master, .DivisionE3Master, .DivisionE4Master{
	display: flex;
	padding-left: 7px;
	padding-top: 2px;
}
.TablaE1Master, .TablaE2Master, .TablaE1Maxi, .TablaE2Maxi{
	display: flex;
	padding-top: 3px;
}
.Logos{
	padding-left: 7px;
}
.EquiposR1Master, .EquiposR2Master, .EquiposR3Master, .EquiposR4Master, .EquiposR1Maxi, .EquiposR2Maxi{
	padding-left: 10px;
	padding-right: 10px;
	border-top: 10px;
	margin:0;
}
.MarcaE1R1MAS, .MarcaE1R1MAX{
	padding-left: 9px;
}
.MarcaE2R1MAS, .MarcaE2R2MAS, .MarcaE1R3MAS, .MarcaE2R3MAS, .MarcaE1R4MAS, .MarcaE2R4MAS, .MarcaE2R1MAX{
	 padding-left: 7px
}
.MarcaE1R2MAS{
	padding-left: 10px;
}

body {
    background-color: rgb(211, 230, 236);
}
h1{
    color:black;
    text-align: center;
}
p {
    text-align: center;
}